# Day 11 - Containers 2

List

Tuple

Set

Dictionary

Tuple is a list but immutable?

iterables

List is mutable

Tuple is immutable (members canot be changed, added or deleted)

In [8]:
empty_list = []
empty_list = list()

empty_tuple = tuple()
empty_tuple = ()

my_tuple = (1, 2, 3)
# my_tuple = tuple([1, 2, 3])

one_element_tuple = (4,)
print(one_element_tuple, type(one_element_tuple))

(4,) <class 'tuple'>

## Actions

- ~~add element~~
- ~~remove element~~
- ~~modify element~~
- index an element
- loop through elements -> iterable
- in/not in
- .count()
- ~~.sort(), .reverse()~~
- reversed()
- len()
- *list
- map()
- list * 5
- list1 + list2

In [12]:
print(*(2, 5, 6))

2 5 6

In [13]:
tuple(map(int, (1.5, 2.5, 3.5)))

(1, 2, 3)

In [14]:
(1, 2, 3) * 5

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [15]:
(1, 2, 3) + (4, 5)

(1, 2, 3, 4, 5)

In [ ]:
(1, 2, 3) += (4, 5)

In [16]:
x = (1, 2, 3)
y = x + (4, 5)
y

(1, 2, 3, 4, 5)

In [18]:
x = (1, True, print)
print(x)

(1, True, <built-in function print>)

1. Something that should not be changed
2. Lower memory and CPU usage (relative to list)
3. Only Immutable object (in python!) that stores sequence of data

## Set

Mutable

Not-iterable

A container of something that stores unique values.

empty_set = $\emptyset= \{\}$

In [21]:
empty_set = set()
my_set = {1, 1, 2, 3}
my_set

{1, 2, 3}

In [24]:
set([1, 1, 3, 4])
set((1, 1, 3, 4))
set('apple')

{'a', 'e', 'l', 'p'}

In [26]:
my_set[0]

TypeError: 'set' object is not subscriptable

### Actions

- add element
- remove element
- modify element
- ~~index an element~~
- loop through elements
- in/not in
- ~~.count()~~
- ~~.sort(), .reverse()~~
- ~~reversed()~~
- len()
- *list
- map()
- ~~list * 5~~
- ~~list1 + list2~~

In [30]:
for element in set('apple'):
    print(element)

a
p
e
l

Finding an element is much faster than using list

In [ ]:
4 in {1, 2, 3} # O(1)
# 4 in [1, 2, 3, ..., n] # O(n)

False

In [35]:
print(*{3, 1, 2})

1 2 3

In [38]:
my_set = {1.5, 2.5, 3.5}
set(map(int, my_set))

{1, 2, 3}

In [39]:
my_set = {1.5, 2.5, 3.5}
my_set * 3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [40]:
my_set1 = {1.5, 2.5, 3.5}
my_set2 = {4, 5}
my_set1 + my_set2

TypeError: unsupported operand type(s) for +: 'set' and 'set'