# Day13 - Functions

## All Topics so far

- Fundamental
  -  Commenting
  -  Input/Output (IO)
  -  Variable
  -  Operations
  -  Conditions
  -  Loop
-  Data Structure (Container)
   -  String
   -  List
   -  Tuple
   -  Set
   -  Dictionary

## Functions

$f:\mathbb{Z} \rightarrow \mathbb{R}$

$f(x)=\sqrt{x}$

$f(x,y)=\sqrt{xy}$

$f(2)=4,5$

one to one

~~one to many~~

many to one

~~many to many~~

$f(x)=x^2$

In [ ]:
def square_number(x):
    """
    args:
    
    x: int - input number to be squared
    
    Square a number and returns it
    """
    result = x ** 2
    return result

In [5]:
print(square_number(5))

25

number of input(s) = $\mathbb{N} \cup \{ 0 \}$

number of output(s) = $\mathbb{N} \cup \{ 0 \}$

In [ ]:
# 0 input
# 0 output
def greet_person():
    """
    This function will print Hello 3 times
    """
    print("Hello")
    print("Hello")
    print("Hello")
    return None

In [ ]:
print(greet_person())

Hello
Hello
Hello
Vetit

In [21]:
# 1 input 1 output

def greet_person_2(name):
    """
    Greet a person according to the input name
    
    args:
    
    name (str) - name to be greeted
    """
    print(f'Hello, {name}')

print(greet_person_2("Cheetah"))

Hello, Cheetah
None

In [ ]:
# multiple inputs
import math
def calculate_gcd(num1, num2, num3):
    gcd_result = math.gcd(num1, num2, num3)
    return gcd_result

In [29]:
print(calculate_gcd(6, 8, 9))

1

In [34]:
# multiple outputs

def give_me_6_7():
    return 6, 7, 8

In [35]:
print(type(give_me_6_7()))

<class 'tuple'>

In [39]:
w, x, y, z = give_me_6_7()
print(x)
print(y)
print(z)

ValueError: not enough values to unpack (expected 4, got 3)

Default Value

Parameters

Positional Arguments

Keyword Arguments

*args

**kwargs

In [ ]:
def f(y, x=1, z=7): # parameters
    result = x + y + z
    return result

In [57]:
f(2, 5) # 2,4,6 are arguments

14

In [74]:
def f(x, y, z=6):
    result = x + y + z
    print(x, y, z)
    return result

x=1, y=2, z=3

In [76]:
f(2, y=8)

2 8 6

16

### *args, **kwargs

In [80]:
def add_numbers(a, b, c, d, e):
    return a + b + c + d + e

add_numbers(4, 5, 6, 8, 10)

33

In [98]:
def product_numbers_v2(a, b, *args, c=8):
    print(args)
    result = a * b
    for number in args:
        result *= number
    return result
    
product_numbers_v2(2, 3, 5, 6, 7, 0)

(5, 6, 7, 0)

0

In [109]:
def print_names(**kwargs):
    print(kwargs['a'])
    
print_names(x=5, y=6, z=10, a=5)

5

In [116]:
def my_function(a, b, c=1, *args, d=5, e=8, **kwargs):
    print(a, b, c, d, args, e, kwargs)
    
my_function(1, 5, 6, 8, 10, 7, f=6, g=0, d=-1)

1 5 6 -1 (8, 10, 7) 8 {'f': 6, 'g': 0}

## Literal

In [120]:
def add_numbers(a: int, b: int, c: int) -> float:
    return (a / b) / c

add_numbers("2", 5, 4)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [125]:
def double(x: float=7) -> float:
    return x * 2

double()

14

In [ ]:
def lower_all_character(word: str="DEFAULT WORD") -> None:
    return word.lower()

lower_all_character()

'default word'