# Day 11 - Containers 2

List

Tuple

Set

Dictionary

Tuple is a list but immutable?

iterables

List is mutable

Tuple is immutable (members canot be changed, added or deleted)

In [8]:
empty_list = []
empty_list = list()

empty_tuple = tuple()
empty_tuple = ()

my_tuple = (1, 2, 3)
# my_tuple = tuple([1, 2, 3])

one_element_tuple = (4,)
print(one_element_tuple, type(one_element_tuple))

(4,) <class 'tuple'>

## Actions

- ~~add element~~
- ~~remove element~~
- ~~modify element~~
- index an element
- loop through elements -> iterable
- in/not in
- .count()
- ~~.sort(), .reverse()~~
- reversed()
- len()
- *list
- map()
- list * 5
- list1 + list2

In [12]:
print(*(2, 5, 6))

2 5 6

In [13]:
tuple(map(int, (1.5, 2.5, 3.5)))

(1, 2, 3)

In [14]:
(1, 2, 3) * 5

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [15]:
(1, 2, 3) + (4, 5)

(1, 2, 3, 4, 5)

In [ ]:
(1, 2, 3) += (4, 5)

In [16]:
x = (1, 2, 3)
y = x + (4, 5)
y

(1, 2, 3, 4, 5)

In [18]:
x = (1, True, print)
print(x)

(1, True, <built-in function print>)

1. Something that should not be changed
2. Lower memory and CPU usage (relative to list)
3. Only Immutable object (in python!) that stores sequence of data

## Set

Mutable

Iterable but not subscriptable

A container of something that stores unique values.

empty_set = $\emptyset= \{\}$

In [21]:
empty_set = set()
my_set = {1, 1, 2, 3}
my_set

{1, 2, 3}

In [24]:
set([1, 1, 3, 4])
set((1, 1, 3, 4))
set('apple')

{'a', 'e', 'l', 'p'}

In [26]:
my_set[0]

TypeError: 'set' object is not subscriptable

### Actions

- add element
- remove element
- modify element
- ~~index an element~~
- loop through elements
- in/not in
- ~~.count()~~
- ~~.sort(), .reverse()~~
- ~~reversed()~~
- len()
- *list
- map()
- ~~list * 5~~
- ~~list1 + list2~~

In [30]:
for element in set('apple'):
    print(element)

a
p
e
l

Finding an element is much faster than using list

In [ ]:
4 in {1, 2, 3} # O(1)
# 4 in [1, 2, 3, ..., n] # O(n)

False

In [35]:
print(*{3, 1, 2})

1 2 3

In [38]:
my_set = {1.5, 2.5, 3.5}
set(map(int, my_set))

{1, 2, 3}

In [39]:
my_set = {1.5, 2.5, 3.5}
my_set * 3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [40]:
my_set1 = {1.5, 2.5, 3.5}
my_set2 = {4, 5}
my_set1 + my_set2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

### set operations
union

intersection

difference (\\, -)

complementary (not) - 
$A^{'}=\mathcal{U}-A$

In [48]:
set_a = {1, 2, 3}
set_b = {2, 3, 4}
print(set_a.union(set_b).union({4, 5, 6}))
print(set_a | set_b | {4, 5, 6})

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [52]:
print(set_a.union([2, 3, 4]))
print(set_a | {2, 3, 4})

{1, 2, 3, 4}
{1, 2, 3, 4}

intersect

In [55]:
set_a = {1, 2, 3}
set_b = {2, 3, 4}
set_a.intersection(set_b)
set_a & set_b

{2, 3}

difference

In [64]:
set_a = {1, 2, 3}
set_b = {2, 3, 4}

print(set_a.difference(set_b)) # A-B
print(set_b.difference(set_a)) # B-A
print(set_a - set_b)
print(set_b - set_a)

{1}
{4}
{1}
{4}

In [65]:
U = {1,2,3,4,5,6,7,8,9,10}
U-set_a

{4, 5, 6, 7, 8, 9, 10}

loop

In [66]:
s = {'apple', 'banana', 'cat', 'dog'}
for element in s:
    print(element)

dog
banana
apple
cat

In [68]:
for index, element in enumerate(s):
    print(index, element)

0 dog
1 banana
2 apple
3 cat

In [75]:
s = {'apple', 'banana', 'cat', 'dog'}
for element in s:
    print(hash(element), element)

-5445930187238607470 dog
6925442842464957683 banana
-3202947912668757187 apple
6424274915071757573 cat

Add elements

In [91]:
set_a = {1, 2}
set_a.add(True)
set_a

{1, 2}

In [ ]:
hash(1), hash(True)

(1, 1)

Delete elements

In [ ]:
set_a = {1, 2, 3, True}
set_a = {0, False}
# set_a = {0, 2, 3, False}
# set_a.remove(True)
set_a

{'', 0}

In [108]:
hash(0), hash(False), hash("")

(0, 0, 0)

In [ ]:
id(0), id(""), id(False)

(4337216664, 4337237968, 4337203144)

In [115]:
set_a = {0, False}
set_a.remove("")
set_a

KeyError: ''

In [136]:
set_a = {2, 1, 3, 4, 0}
set_a.pop()

0

In [138]:
set_a = {2, 1, 3, 4, 0}
set_a.update([4, 5, 6])
set_a

{0, 1, 2, 3, 4, 5, 6}

### Dictionary

key: value

In [157]:
empty_dict = {}
empty_dict = dict()

animal_legs = {'human': 2, 'horse': 4, 'fish': 0, 'cheetah': 4}

Cannot use unhashable type for keys!!!!!

UNHASHABLE TYPES:

list

set

dict

HASHABLE TYPES:

Tuple

String, Integers, Float, Boolean, None

In [144]:
d = {{5, 6}: 'Vetit'}

TypeError: unhashable type: 'set'

In [145]:
d = {{5: 1, 6: 0}: 'Vetit'}

TypeError: unhashable type: 'dict'

In [146]:
d = {(1,2,3): 'Vetit'}

In [ ]:
d = {'123': 'Vetit'}

In [148]:
d = {None: 'Vetit'}

In [149]:
hash(None)

4238894112

In [154]:
my_key = 'horse'
print(hash(my_key))
my_dict = {my_key: 4}
my_key += 'w'
print(hash(my_key))
print(my_dict)

-1626724412738295696
-7455575904203018826
{'horse': 4}

In [166]:
animal_legs = {'human': 2, 'horse': 4, 'fish': 0, 'cheetah': 4}
animal_legs['cheetahs']

KeyError: 'cheetahs'

In [165]:
animal_legs.get('cheetah', 3)

4

In [185]:
animal_legs = {'human': 2,
               'horse': 4, 
               'fish': 0,
               'cheetah': 10000,
               'cheetah': 7,
               'cheetah': 3,
               'cheetah': 6,
               'cheetah': 4,
               }
animal_legs

{'human': 2, 'horse': 4, 'fish': 0, 'cheetah': 4}

Modify, Add key-value

In [ ]:
animal_legs['cheetah'] = 3 # update the cheetah's legs
animal_legs['millipede'] = 1000 # add key-value to our dict
animal_legs

{'human': 2, 'horse': 4, 'fish': 0, 'cheetah': 3, 'millipede': 1000}

In [184]:
animal_legs.update({'cheetah': 7,
                    'fish': 200,
                    'millipede': 10000})
animal_legs

{'human': 2, 'horse': 4, 'fish': 200, 'cheetah': 7, 'millipede': 10000}

Remove

In [198]:
animal_legs = {'human': 2, 'horse': 4, 'fish': 0, 'cheetah': 4}

In [189]:
animal_legs.pop('fish')

0

In [190]:
animal_legs

{'human': 2, 'horse': 4, 'cheetah': 4}

In [197]:
animal_legs.popitem()

KeyError: 'popitem(): dictionary is empty'

In [196]:
animal_legs

{}

In [203]:
animal_legs = {'human': 2, 'cheetah': 4,'fish': 0, 'horse': 4}
animal_legs.popitem()

('horse', 4)

In [204]:
animal_legs = {'human': 2, 'cheetah': 4,'fish': 0, 'horse': 4}
animal_legs.clear()

In [207]:
animal_legs = {'human': 2, 'cheetah': 4,'fish': 0, 'horse': 4}
del animal_legs['human']

In [208]:
animal_legs

{'cheetah': 4, 'fish': 0, 'horse': 4}

Operations

- add element
- remove element
- modify element
- ~~index an element~~
- loop through elements
- in/not in
- ~~.count()~~
- ~~.sort(), .reverse()~~
- reversed()
- len()
- *dict
- map()
- dict * 5
- dict1 + dict2

in/ not in

In [ ]:
animal_legs = {'human': 2, 'cheetah': 4,'fish': 0, 'horse': 4, True: 6}
print('cheetah' not in animal_legs)
print(2 in animal_legs) # Not possible

False
False

### Loop

loop by keys

In [218]:
animal_legs = {'human': 2, 'cheetah': 4,'fish': 0, 'horse': 4, True: 6}
for key in animal_legs:
    print(key)
    print(animal_legs[key])

human
2
cheetah
4
fish
0
horse
4
True
6

loop by .items()

In [222]:
for item in animal_legs.items():
    print(item)

('human', 2)
('cheetah', 4)
('fish', 0)
('horse', 4)
(True, 6)

In [223]:
for key, value in animal_legs.items():
    print(key)
    print(value)

human
2
cheetah
4
fish
0
horse
4
True
6

In [ ]:
animal_legs = {'human': 2, 'cheetah': 4,'fish': 0, 'horse': 4, True: 6}
for key in animal_legs.keys():
    print(key)

human
cheetah
fish
horse
True

loop by values

In [ ]:
animal_legs = {'human': 2, 'cheetah': 4,'fish': 0, 'horse': 4, True: 6}
for value in animal_legs.values():
    print(value)

2
4
0
4
6

loop by enumerate

In [228]:
animal_legs = {'human': 2, 'cheetah': 4,'fish': 0, 'horse': 4, True: 6}
for index, element in enumerate(animal_legs):
    print(index, element)

0 human
1 cheetah
2 fish
3 horse
4 True